{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Import CSV{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container-fluid" style="padding-left: 300px">
        <div class="row mt-5">
            <div class="col mt-2">
                <h1 class="cta-text-1"><b>Import CSV</b></h1>
                <p>Hello {{ app.user.email }}, welcome back!</p>
            </div>
        </div>
        <div class="row mt-5 mx-auto text-center">
            <div class="col">
                {{ form_start(form, { attr: { 'accept-charset' : 'utf-8' }}) }}
                <div class="form-group col-md-8 mx-auto">
                    {{ form_label(form.upload_file) }}
                    {{ form_widget(form.upload_file, {attr: {'class': 'form-control'}}) }}
                    {{ form_errors(form.upload_file) }}
                </div>
                <div class="form-group mt-5">
                    {{ form_widget(form.send, {'label': "Upload this file", 'attr' : { 'class': 'cta-primary-1' }}) }}
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}