{% extends 'base.html.twig' %}

{% block title %} <title>Réinitialiser le mot de passe</title> {% endblock %}	

{% block body %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <div class="row mt-5">
            <div class="col col-md-6 mx-auto mt-5">
                <div class="card text-center mt-5">
                    <div class="card-body">
                        <h2>New password</h2>
                        {{ form_start(form) }}

                        {{ form_widget(form.new_password.first, { 'attr': {'class': "form-control mt-5"}}) }}
                        {{ form_widget(form.new_password.second, { 'attr': {'class': "form-control mt-3"}}) }}
                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary mt-5'}}) }}

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}