{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Our Beliefs{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container">
        <div class="row mt-5 align-items-center">
            <div class="col col-sm-1" id="hide_col"></div>
            <div class="col col-md-3 mt-5 mx-auto" id="div_to_hide">
                <img class="img-fluid" src="{{ asset('images/library/page_a_propos/img_our_beliefs.png') }}" alt="Beauty Science & proofs" width="300">
            </div>
            <div class="col col-md-4 mx-auto mt-5">
                <img class="img-fluid" src="{{ asset('images/library/page_a_propos/img_our_beliefs.png') }}" alt="Beauty Science & proofs" width="300" id="img_to_hide">
                <h1 class="display-4 mt-5">OUR BELIEFS</h1>
                <div class="row mt-5">
                    <div class="col col-sm-2">
                        <img src="{{ asset('images/library/page_a_propos/picto_iot.svg') }}" alt="IOT">
                    </div>
                    <div class="col">
                        <p>
                            IOT can save <b>R&D money</b> and speed-up product launch tempo
                        </p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col col-sm-2">
                        <img src="{{ asset('images/library/page_a_propos/picto_repea.svg') }}" alt="REPEA">
                    </div>
                    <div class="col">
                        <p>
                            Repeatability of protocols increases <b>reliability of results</b>
                        </p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col col-sm-2">
                        <img src="{{ asset('images/library/page_a_propos/picto_data_science.svg') }}" alt="Data Science">
                    </div>
                    <div class="col">
                        <p>
                            <b>Data Science</b> can help cosmetic scientists
                        </p>
                    </div>
                </div>

                <div class="mt-5 float-end">
                    <button class="cta-primary-1 mt-5"><a href="{{ path('our_team') }}" class="text-decoration-none text-white">Next</a></button>
                </div>
            </div>
            <div class="col col-sm-1" id="hide_col"></div>
        </div>
    </div>

    <style>
        body {
            background-image: url("../images/library/page_a_propos/background_about_us.png");
            background-repeat: no-repeat;
            background-position: center top 100px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('beauty_science') }}
{% endblock %}