{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Our Team and Scientific Consortium{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container">
        <div class="row mt-5 align-items-center mb-5">
            <div class="col col-sm-2" id="hide_col"></div>
            <div class="col col-md-3 mt-5 mx-auto" id="div_to_hide">
                <img class="img-fluid" src="{{ asset('images/library/page_a_propos/img_our_team_scientifique.png') }}" alt="Beauty Science & proofs" width="300">
                <h5 class="mt-3"><b>Hover over the text block to change the opacity</b></h5>
            </div>
            <div class="col col-md-4 mx-auto mt-5">
                <img id="img_to_hide" class="img-fluid" src="{{ asset('images/library/page_a_propos/img_our_team_scientifique.png') }}" alt="Beauty Science & proofs" width="300">
                <h1 class="display-4 mt-5">OUR TEAM & SCIENTIFIC CONSORTIUM</h1>
                <p id="pg_1" class="mt-5">
                    Wired Beaty Technologies is a three-sided French tech team combining the intelligence of two
                    seasoned cosmetic professionals, the electro chemistry knowledge of our CRO partner in Toulouse
                    (Qima) and the scientific skin expertise of a renowned dermatologist Mrs Tu-ahn DUONG of the Henri
                    Mondor Hospital in Paris

                </p>
                <p id="pg_2" class="mt-5">
                    It is the quality of our employees and partners that build the trust we seek.
                </p>
                <p id="pg_3" class="mt-5">
                    Because of their singular competences and contagious energy, they help our clients improve and simplify skincare research data.

                </p>
                <div class="mt-5 float-end">
                    <button class="cta-primary-1"><a href="{{ path('our_story') }}" class="text-decoration-none text-white">Next</a></button>
                </div>
            </div>
            <div class="col col-sm-2" id="hide_col"></div>
        </div>
    </div>

    <style>
        body {
            background-image: url("../images/library/page_a_propos/background_about_us.png");
            background-repeat: no-repeat;
            background-position: center top 100px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('beauty_science') }}
{% endblock %}