{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Sign in{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
        <div class="row mt-5">
            <div class="col col-md-6 mx-auto mt-5">
                <div class="card text-center mt-5 shadow-lg">
                    {% if error %}
                        <div class="alert alert-danger text-start">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="card-body">
                        <h2>Sign in</h2>
                        <form action="{{ path('login') }}" method="post">
                            <div class="input-group form-group">
                                <span class="input-group-text mt-5"><i class="fa-solid fa-user"></i></span>
                                <input class="form-control mt-5" type="text" id="username" name="_username" placeholder="Email" value="{{ last_username }}"/>
                            </div>

                            <div class="input-group form-group">
                                <span class="input-group-text mt-4"><i class="fa-solid fa-lock"></i></span>
                                <input class="form-control mt-4" type="password" id="password" name="_password" placeholder="Password"/>
                            </div>
                            <div class="text-start">
                                <a class="cta-text-1" href="{{ path('reset_password') }}">Reset password</a>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="mt-4">
                                <input class="cta-primary-1 shadow" type="submit" value="Sign in">
                            </div>
                        </form>
                        <div class="text-end mt-4">
                            <a class="mt-5 cta-text-1" href="{{ path('app_register') }}">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}