{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Homepage {% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Hello</h1>
    {% if app.user %}

        {% if "ROLE_ADMIN" in app.user.roles %}
            <div>
                <a class="btn btn-primary" href="{{ path('app_upload') }}">CSV Import</a>
            </div>
        {% endif %}
        <div class="mt-5">
            <a href="{{ path('app_logout') }}">Sign out</a>
        </div>
    {% else %}
        <a href="{{ path('login') }}">Sign in</a> or
        <a href="{{ path('app_register') }}">Sign up</a>
    {% endif %}

    <div id="cookieNotice" class="modal text-center">
        <div id="cookieCard" class="modal-content mt-5 w-50">
            <div>
                <span id="cross_close_modal" class="close">&times;</span>
                <h2 class="mt-3">We value your privacy</h2>
            </div>
            <span class="mt-2">We and our partners use technologies, such as cookies,and process personal data,
                such as IP addresses and cookie identifiers, to personalise ads and content based on your interests,
                measure the performance of ads and content, and derive insight about the audiences who saw ads and content.
                Click below to consent to the use of this technology and the processing of your personal data for these purposes.
                You can change your mind and change your consent choices at any time by returning to this site.
            </span>
            <a href="#">Learn more</a>
            <div>
                <button class="btn btn-dark mt-3 px-4" type="button" id="refuseCookies">I DO NOT ACCEPT</button>
                <button class="btn btn-info mt-3 px-4" type="button" id="acceptCookies">I ACCEPT</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}

    <script>
        var botmanWidget = {
            frameEndpoint: '{{ path("chatframe") }}',
            chatServer: '{{ path("message") }}',
            title: 'My Chatbot',
            mainColor: '#456765',
            bubbleBackground: '#ff76f4',
            aboutText: ''
        };
    </script>
    <script src='https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/js/widget.js'></script>
{% endblock %}