{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Homepage {% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Hello</h1>
    {% if app.user %}

        {% if "ROLE_ADMIN" in app.user.roles %}
            <div>
                <a class="btn btn-primary" href="{{ path('app_upload') }}">CSV Import</a>
            </div>
        {% endif %}
        <div class="mt-5">
            <a href="{{ path('app_logout') }}">Sign out</a>
        </div>
    {% else %}
        <a href="{{ path('login') }}">Sign in</a> or
        <a href="{{ path('app_register') }}">Sign up</a>
    {% endif %}

    {% include 'app/cookies_popup.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}

    <script>
        var botmanWidget = {
            frameEndpoint: '{{ path("chatframe") }}',
            chatServer: '{{ path("message") }}',
            title: 'My Chatbot',
            mainColor: '#456765',
            bubbleBackground: '#ff76f4',
            aboutText: ''
        };
    </script>
    <script src='https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/js/widget.js'></script>
{% endblock %}