{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Homepage {% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Bonjour</h1>
    {% if app.user %}

        {% if "ROLE_ADMIN" in app.user.roles %}
            <div>
                <a class="btn btn-primary" href="{{ path('app_upload') }}">CSV Import</a>
            </div>
        {% endif %}
        <div class="mt-5">
            <a href="{{ path('app_logout') }}">Sign out</a>
        </div>
    {% else %}
        <a href="{{ path('login') }}">Log in</a>
    {% endif %} 

       
        
  
{% endblock %}
{% block javascripts %}
{{parent()}}
{% endblock %}

