<footer class="text-center text-white text-lg-start text-muted" style="background-color: #7e84a3">
    <section class="text-white d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="container text-center text-md-start pt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <img src="{{ asset('Logo_wired_beauty.png') }}" alt="Logo" class="img-fluid" width="100">
                    </h6>
                    <p>
                        Objectively measure the vitality criteria of the skin
                    </p>
                    <div>
                        <a href="" class="me-4 text-reset text-decoration-none">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="" class="me-4 text-reset text-decoration-none">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="" class="me-4 text-reset text-decoration-none">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="" class="me-4 text-reset text-decoration-none">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Quick links
                    </h6>
                    <p>
                        <a href="{{ path('studies_and_services') }}" class="text-reset text-decoration-none">Studies &
                            Services</a>
                    </p>
                    <p>
                        <a href="{{ path('our_solution') }}" class="text-reset text-decoration-none">Our solution</a>
                    </p>
                    <p>
                        <a href="{{ path('scientific_validation') }}" class="text-reset text-decoration-none">Scientific
                            validation</a>
                    </p>
                    <p>
                        <a href="{{ path('index_about_us') }}" class="text-reset text-decoration-none">About us</a>
                    </p>
                    <p>
                        <a href="{{ path('contact') }}" class="text-reset text-decoration-none">Contact</a>
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Information
                    </h6>
                    <p>
                        <a href="{{ path('show_blog') }}" class="text-reset text-decoration-none">Blog</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">Legal notice</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">General terms of use</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Newsletter
                    </h6>
                    <p>Don't miss any more news from Wired Beauty</p>
                    <p>
                    <div class="d-inline-flex">
                        <input class="form-control" type="text" placeholder="Enter your email address">
                        <input class="btn btn-primary" type="button" value="Send" style="background-color: #398a98; border: #398a98">
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </section>
</footer>