<nav id="wb_navbar" class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a href="/"><img src="{{ asset('Logo_wired_beauty.png') }}" alt="Logo WB" width="110"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="ul_links" class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('studies_and_services') }}">Studies & Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Our solution</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Scientific Validation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('index_about_us') }}">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                {# <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li> #}
            </ul>
            <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if is_granted("ROLE_ADMIN") %}
                        {#<li class="pe-3 pt-2">
                            <a class="cta-primary-1" href="{{ path('app_upload') }}">CSV Import</a>
                        </li>#}
                    {% endif %}
                    <li class="pe-3 pt-2">
                        <a class="cta-text-1" href="#">Become a panelist</a>
                    </li>
                    {% if app.user %}
                        <li>
                            <button type="button" class="cta-primary-1-other"><a id="sign_button" href="{{ path('app_logout') }}">Sign out</a></button>
                        </li>
                    {% else %}
                        <li>
                            <button type="button" class="cta-primary-1-other"><a id="sign_button" href="{{ path('login') }}">Sign in</a></button>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>